<nav>
  <a class="nav" href= "/logout">Log out</a>
  <a class="nav" href= "/">Home</a>
  <a class="nav" href= "/recipes">Recipe Search</a>
  <a class="nav" href= "/myRecipes">My Recipes</a>
  <a class="nav" href= "/calendar">Weekly Calendar</a>
  <a class="nav" href= "/shoppingList">Shopping List</a>
  <a class="nav" href= "/bmi">BMI Calculator</a>
</nav>